accelerate==1.10.0
bitsandbytes
datasets==4.0.0
huggingface-hub==0.34.4
peft==0.17.0
safetensors==0.6.2
sentencepiece==0.2.1
tokenizers==0.22.1
torch==2.8.0
tqdm==4.67.1
transformers==4.56.1
trl==0.23.1
wandb==0.22.2
dotenv

